section {
	padding: 50px 0px 50px 0px;
}
footer .footer-above {
	 padding-top: 25px;
}
footer p {
  font-size: 16px;
}
footer img {
  width:175px;
}
.footer-col { text-align: left }
.navbar-custom {
	background: #2C3E50;
}
.navbar-nav li a:hover {
	color: #2C3E50;
}
.navbar-nav li.active {
	background: #18BC9C;
}
.navbar-nav li.active a:hover {
	background: #18BC9C;
}

#mapa {
	padding: 125px 0px 25px 0px;
}
#mapa .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#mapa .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#mapa .portfolio-item .portfolio-link .caption {
  background: rgba(24, 188, 156, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#mapa .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#mapa .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#mapa .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#mapa .portfolio-item .portfolio-link .caption .caption-content h3,
#mapa .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#mapa * {
  z-index: 2;
}
@media (min-width: 767px) {
  #mapa .portfolio-item {
    margin: 0 0 30px;
  }
}

.leaflet-popup-content {
	font-family: sans-serif;
	color: black;
	font-size: 1.5em;
}

#mapa-feiras {
	min-width: 320px;
	min-height: 240px;
	height: 480px;
}
#tabela {
	min-width: 320px;
	min-height: 240px;
	width: 80%;
	padding-left: 10%;
}

/* Custom Table Styles */
table th {
  display: none;
}
tbody {
  border-spacing: 0 0.5em;
}
td {
  display: table-row;
  font-size: 16px;
}
td.sorting_1 {
  font-size:16px;
  font-weight: 600;
  color: #2C3E50;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #2C3E50 !important;
  border: none;
  background: transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  color: #ddd !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
  color: #ddd !important;
}
label {
  color:#333;
}
.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #ddd;
    border-radius: 5px;
}
.dataTables_wrapper .dataTables_length {
    float: left;
    display: none;
}
.dataTables_wrapper .dataTables_info {
  color: #2C3E50;
}
table.dataTable.no-footer {
  border:none;
}